#Escudo {
    width: 100px;
    height: 100px;
}
#Navbar {
    background-color: rgb(194, 11, 11);
    color:white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Noticias {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
}

.Noticia {
    background-color: rgb(253, 168, 142);
    color: black;
    border: 4px solid rgb(0, 0, 0); 
    width: 20%; 
    box-sizing: border-box; 
    overflow: hidden;
    
}

.img_noticia {
    width: 100%;
    height: 300px;
}
