#Escudo {
    width: 100px;
    height: 100px;
}
#Navbar {
    background-color: rgb(194, 11, 11);
    color:white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
