#Escudo {
    width: 100px;
    height: 100px;
}
#Navbar {
    background-color: rgb(194, 11, 11);
    color:white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Noticias {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    flex-wrap: wrap;
}

.Noticia {
    background-color: rgb(240, 220, 214);
    color: black;
    border: 4px solid rgb(0, 0, 0); 
    width: 22%; 
    box-sizing: border-box; 
    overflow: hidden;
}

.img_noticia {
    width: 100%;
    height: 300px;
}

#escalacao {
  background-color: rgb(194, 11, 11);
  color: white;
  padding: 20px;
  text-align: center;
  width: 80%;             
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#escalacao h2 {
  margin-bottom: 40px;
}
.jogador {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jogador img {
  width: 100px;
}
.caixa_jogadores {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

#direitos{
    background-color: rgb(243, 151, 151);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}