#Escudo {
    width: 100px;
    height: 100px;
}
#Navbar {
    background-color: rgb(194, 11, 11);
    color:white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Noticias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 6px;
}

.Noticia {
    background-color: rgb(253, 168, 142);
    border: 4px solid black;
}

.img_noticia {
    width: 100%;
    height: 300px;
}
